.active.carousel-item {
    display: flex;
    justify-content: center;
    margin: auto;
}

.slider-item {
  
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 330px) {
  
  h5.item-title {
    margin-top: 10px;
  }
}

